#{extends 'main.html' /}
#{set title:'About' /}
<div class="nav" id="box" style="background: #ebebe0;">
    <header class="w3-panel w3-padding-120 w3-center ">
        <div class="w3-padding-32" >
            <div class="w3-bar w3-border">
                <a href="@{Application.index()}" class="w3-bar-item w3-button">Home</a>
                <a href="@{Application.service()}" class="w3-bar-item w3-button">Services</a>
                <a href="@{Application.about()}" class="w3-bar-item w3-button">About</a>
                <a href="@{Application.contact()}" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </header>
</div>
<div class="container" style="border-bottom-style: ridge">
    <h1 class="text-left"><div class="panel-body">ABOUT</div></h1>
    <div class="row">
        <center><img src="/public/images/qout.jpg" class="w3-animate-right img-rounded"></center>
        <div class="col-md-12">
            <p class="text-center" >A good family should instill the right morals in their children and teach them how to be the best people they can be.
                In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                But it’s important for a family to always make time for each other.</p>
        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><p class="text-center">DEVELOPER TEAM</p></h1></br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="/public/images/1.png" class="w3-animate-right img-rounded">
            <center>  <p> </br> Developer</p>
                <button class="button button5 w3-bar-item w3-button" data-toggle="modal" data-target="#firstapp" style="color: #3d3d29;">Read More</button></center>
        </div>
        <div class="col-sm-3">
            <img src="/public/images/2.jpg" class="w3-animate-right img-rounded">
            <center>   <p> </br> Developer</p>
                <button class="button button5 w3-bar-item w3-button" data-toggle="modal" data-target="#secondapp" style="color: #3d3d29;">Read More</button></center>
        </div>
        <div class="col-sm-3">
            <img src="/public/images/3.png" class="w3-animate-right img-rounded">
            <center>  <p> </br> Developer</p>
                <button class="button button5 w3-bar-item w3-button" data-toggle="modal" data-target="#thirdapp" style="color: #3d3d29;">Read More</button></center>
        </div>
        <div class="col-sm-3">
            <img src="/public/images/4.jpg" class="w3-animate-right img-rounded">
            <center>  <p> </br> Developer</p>
                <button class="button button5 w3-bar-item w3-button" data-toggle="modal" data-target="#fourthapp" style="color: #3d3d29;">Read More</button></center>
        </div>
    </div>
</div>
<div class="panel-footer panel-custom">
    <div class="text-center">
        <p>
            Connect With US:
        </p>
        <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
        <img src="/public/images/google-plus-icon.png" class="img-rounded">
    </div>
</div>


<!-- Start of Modal content for software application-->
<div class="modal fade" id="firstapp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DEVELOPER</h4>
            </div>
            <div class="modal-body">
                <center><img class="img-responsive hvrbox-layer_bottom"  src="/public/images/1.png"></center><br>
                <p>
                    A good family should instill the right morals in their children and teach them how to be the best people they can be.
                    In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                    In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                    But it’s important for a family to always make time for each other.
                </p>
            </div>
            <div class="modal-footer"style="background: #808080;">
                <div class="text-left">
                    <p style="color: white;">
                        Connect With US:
                    </p>
                    <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
                    <img src="/public/images/google-plus-icon.png" class="img-rounded">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content for software application-->


<!-- Start of Modal content for software application-->
<div class="modal fade" id="secondapp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DEVELOPER</h4>
            </div>
            <div class="modal-body">
                <center><img class="img-responsive hvrbox-layer_bottom"  src="/public/images/2.jpg"></center><br>
                <p>
                    A good family should instill the right morals in their children and teach them how to be the best people they can be.
                    In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                    In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                    But it’s important for a family to always make time for each other.
                </p>
            </div>
            <div class="modal-footer"style="background: #808080;">
                <div class="text-left">
                    <p style="color: white;">
                        Connect With US:
                    </p>
                    <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
                    <img src="/public/images/google-plus-icon.png" class="img-rounded">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content for software application-->


<!-- Start of Modal content for software application-->
<div class="modal fade" id="thirdapp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DEVELOPER</h4>
            </div>
            <div class="modal-body">
                <center><img class="img-responsive hvrbox-layer_bottom"  src="/public/images/3.png"></center><br>
                <p>
                    A good family should instill the right morals in their children and teach them how to be the best people they can be.
                    In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                    In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                    But it’s important for a family to always make time for each other.
                </p>
            </div>
            <div class="modal-footer"style="background: #808080;">
                <div class="text-left">
                    <p style="color: white;">
                        Connect With US:
                    </p>
                    <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
                    <img src="/public/images/google-plus-icon.png" class="img-rounded">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content for software application-->



<!-- Start of Modal content for software application-->
<div class="modal fade" id="fourthapp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DEVELOPER</h4>
            </div>
            <div class="modal-body">
                <center><img class="img-responsive hvrbox-layer_bottom"  src="/public/images/4.jpg"></center><br>
                <p>
                    A good family should instill the right morals in their children and teach them how to be the best people they can be.
                    In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                    In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                    But it’s important for a family to always make time for each other.
                </p>
            </div>
            <div class="modal-footer"style="background: #808080;">
                <div class="text-left">
                    <p style="color: white;">
                        Connect With US:
                    </p>
                    <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
                    <img src="/public/images/google-plus-icon.png" class="img-rounded">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content for software application-->

