#{extends 'main.html' /}
#{set title:'Contact' /}

<div class="nav" id="box" style="background: #ebebe0;">
    <header class="w3-panel w3-padding-120 w3-center">
        <div class="w3-padding-32" >
            <div class="w3-bar w3-border">
                <a href="@{Application.index()}" class="w3-bar-item w3-button">Home</a>
                <a href="@{Application.service()}" class="w3-bar-item w3-button">Services</a>
                <a href="@{Application.about()}" class="w3-bar-item w3-button">About</a>
                <a href="@{Application.contact()}" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </header>
</div>
<div class="container">
    <div class="row">
        <h1 class="text-left"><div class="panel-body">Contact</div></h1>
        <center><div class="col-sm-4"></div></br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3871.9767828088306!2d121.11565818581256!3d13.95998763805513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd6d1b39676def%3A0x6187be93636b3c9f!2sCalingatan%2C+Mataas+Na+Kahoy%2C+Batangas!5e0!3m2!1sen!2sph!4v1490165232732" width="800" height="600" frameborder="0" style="border:0" allowfullscreen class="img-rounded"></iframe>
        </center></div>
</div>
<div class="container-fluid">
    <div class="row">
        <center><div class="col-sm-4"></div></br>
            <h5 class="w3-animate-left">09056835004</h5>
            <a  target="tabName"><h5 class="w3-animate-left">allanaranda4@gmail.com</h5></a>
        </center></div>
</div>
<div class="panel-footer panel-custom">
    <div class="text-center">
        <p>
            Connect With US:
        </p>
        <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
        <img src="/public/images/google-plus-icon.png" class="img-rounded">
    </div>
</div>