#{extends 'main.html' /}
#{set title:'Home' /}

<div class="nav" id="box" style="background: #ebebe0;">
    <header class="w3-panel w3-padding-120 w3-center ">
        <div class="w3-padding-32" >
            <div class="w3-bar w3-border">
                <a href="@{Application.index()}" class="w3-bar-item w3-button">Home</a>
                <a href="@{Application.service()}" class="w3-bar-item w3-button">Services</a>
                <a href="@{Application.about()}" class="w3-bar-item w3-button">About</a>
                <a href="@{Application.contact()}" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </header>
</div>
</br>
<div class="w2-container  w3-center">
    <div class="animate">
        <img src="/public/images/prog.png" class="w3-animate-right img-rounded">
        <h1 class="w3-xlarge w3-animate-left" >SOFTWARE-ONLINE-MOBILE</h1>
        <h4>DEVELOPMENT</h4>
    </div>
</div>
<!-- Start of Modal content for mobile application-->
<div class="modal fade" id="mobileapp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mobile Application Development</h4>
            </div>
            <div class="modal-body">
                <center><img class="img-responsive hvrbox-layer_bottom"  src="/public/images/mobile.png"></center><br>
                <p>
                    A good family should instill the right morals in their children and teach them how to be the best people they can be.
                    In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                    In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                    But it’s important for a family to always make time for each other.
                </p>
            </div>
            <div class="modal-footer"style="background: #808080;">
                <div class="text-left">
                    <p style="color: white;">
                        Connect With US:
                    </p>
                    <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
                    <img src="/public/images/google-plus-icon.png" class="img-rounded">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content for mobile application-->


<!-- Start of Modal content for web application-->
<div class="modal fade" id="webapp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Website Online Development</h4>
            </div>
            <div class="modal-body">
                <center><img class="img-responsive hvrbox-layer_bottom"  src="/public/images/web.jpg"></center><br>
                <p>
                    A good family should instill the right morals in their children and teach them how to be the best people they can be.
                    In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                    In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                    But it’s important for a family to always make time for each other.
                </p>
            </div>
            <div class="modal-footer"style="background: #808080;">
                <div class="text-left">
                    <p style="color: white;">
                        Connect With US:
                    </p>
                    <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
                    <img src="/public/images/google-plus-icon.png" class="img-rounded">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content for web application-->


<!-- Start of Modal content for software application-->
<div class="modal fade" id="softapp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Software Application Development</h4>
            </div>
            <div class="modal-body">
                <center><img class="img-responsive hvrbox-layer_bottom"  src="/public/images/software.jpg"></center><br>
                <p>
                    A good family should instill the right morals in their children and teach them how to be the best people they can be.
                    In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                    In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                    But it’s important for a family to always make time for each other.
                </p>
            </div>
            <div class="modal-footer"style="background: #808080;">
                <div class="text-left">
                    <p style="color: white;">
                        Connect With US:
                    </p>
                    <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
                    <img src="/public/images/google-plus-icon.png" class="img-rounded">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content for software application-->

<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-default">
            <h1 class="text-left"><div class="panel-body">HOME</div></h1>
            <div class="row">
                <div class="col-sm-4">
                    <center><div class="w3-content w3-section" style="max-width:500px">
                        <img class="mySlides img-responsive" src="/public/images/mo.png">
                        <img class="mySlides img-responsive" src="/public/images/key.jpg">
                        <img class="mySlides img-responsive" src="/public/images/lap.png">
                    </div>
                    </center>
                </div>
                <div class="col-sm-8">
                    <div class="well" >
                        <p class="text-center w3-animate-right" >A good family should instill the right morals in their children and teach them how to be the best people they can be.
                            In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                            In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                            But it’s important for a family to always make time for each other.
                            Nothing should be as important as family. It’s essential to ensure that as a family, you always find time to catch up and share.
                            Family is one of the most important units that should be cherished and protected. Nothing should ever supplement your family.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-center"><div class="panel-body">SERVICES</div></h1>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center" >A good family should instill the right morals in their children and teach them how to be the best people they can be.
                In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
                In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
                But it’s important for a family to always make time for each other.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <center>
            <div class="col-sm-4">
                <div class="hvrbox">
                    <img class="img-responsive hvrbox-layer_bottom" src="/public/images/software.jpg">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">Software Application
                            <button class="button button5 w3-bar-item w3-button" data-toggle="modal" data-target="#softapp">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="hvrbox">
                    <img class="img-responsive hvrbox-layer_bottom"  src="/public/images/web.jpg">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">Website
                            <button class="button button5 w3-bar-item w3-button" data-toggle="modal" data-target="#webapp">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="hvrbox">
                    <img class="img-responsive hvrbox-layer_bottom"  src="/public/images/mobile.png">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">Moblile Application
                            <button class="button button5 w3-bar-item w3-button" data-toggle="modal" data-target="#mobileapp">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div></br>
<div class="panel-footer panel-custom">
    <div class="text-center">
        <p>
            Connect With US:
        </p>
        <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
        <img src="/public/images/google-plus-icon.png" class="img-rounded">
    </div>
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000); // Change image every 2 seconds
}
</script>
