#{extends 'main.html' /}
#{set title:'Service' /}
<div class="nav" id="box" style="background: #ebebe0;">
    <header class="w3-panel w3-padding-120 w3-center ">
        <div class="w3-padding-32" >
            <div class="w3-bar w3-border">
                <a href="@{Application.index()}" class="w3-bar-item w3-button">Home</a>
                <a href="@{Application.service()}" class="w3-bar-item w3-button">Services</a>
                <a href="@{Application.about()}" class="w3-bar-item w3-button">About</a>
                <a href="@{Application.contact()}" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </header>
</div>
<div class="container">
    <div class="row">
        <h1 class="text-left"><div class="panel-body">Services</div></h1>
        <div class="col-sm-4">
            <div class="hvrbox">
                <img class="img-responsive hvrbox-layer_bottom w3-animate-right" src="/public/images/software.jpg">
            </div>
        </div>
        <div class="col-sm-8">
            </br><p class="well w3-animate-right">A good family should instill the right morals in their children and teach them how to be the best people they can be.
            In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
            In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
            But it’s important for a family to always make time for each other.</p>
        </div>
    </div>
</div>
</div>
</br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="hvrbox">
                <img class="img-responsive hvrbox-layer_bottom w3-animate-right" src="/public/images/web.jpg">
            </div>
        </div>
        <div class="col-sm-8">
            </br><p class="well w3-animate-right">A good family should instill the right morals in their children and teach them how to be the best people they can be.
            In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
            In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
            But it’s important for a family to always make time for each other.</p>
        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="hvrbox">
                <img class="img-responsive hvrbox-layer_bottom w3-animate-right" src="/public/images/mobile.png">
            </div>
        </div>
        <div class="col-sm-8">
            </br><p class="well w3-animate-right">A good family should instill the right morals in their children and teach them how to be the best people they can be.
            In complete families, members feel free and close to each other and are able to discuss and solve problems that a member is facing
            In modern time, people are busy and rarely have time for each other. People are busy working, furthering their education among other important things to better their lives.
            But it’s important for a family to always make time for each other.</p>
        </div>
    </div>
</div>
</br>
<div class="panel-footer panel-custom">
    <div class="text-center">
        <p>
            Connect With US:
        </p>
        <a href="https://www.facebook.com/zane.a18" target="tabName"><img src="/public/images/fb.png" class="img-rounded"></a>
        <img src="/public/images/google-plus-icon.png" class="img-rounded">
    </div>
</div>
